# Computer Vision
opencv-python
pyzbar
zxing-cpp
ultralytics
scikit-image
Pillow

# Data Handling & Scientific Computing
numpy
pandas

# Plotting & Visualization
matplotlib
seaborn

# Web & API
streamlit
requests
google-generativeai

